# Homework 4

In previous homework we cleaned the data describing the numer of cell phones in every country in th eperiod from 1960 to 2019. In this paper we will merge this data with population data so we can find values describing phones per capita and more.

In [143]:
import pandas as pd

cell_phones = pd.read_csv("clean_cell_phones.csv")
pop = pd.read_csv("pop_data.csv")

df1_long = cell_phones.melt(id_vars ='iso-3', var_name='year', value_name='n_cellphones')
df2_long = pop.melt(id_vars='iso-3', var_name='year', value_name='population')

merged = pd.merge(df1_long, df2_long, on = ['iso-3', 'year'], how="inner")
#merged.set_index(['iso-3', 'year'], inplace = True)

We use the melt function to create dataframes such that the frist two columns are iso-3 and year. Then we merge them into one dataframe.

Next we want to combine the data from n_cellphones and year by finding the ratio of cellphones per person.

In [167]:
country = pd.read_csv("country_data.csv")
country_sub = country[['alpha-3', 'name']]

full_name = merged.merge(country_sub, left_on ='iso-3', right_on= 'alpha-3', how = 'right') #merge the country and merged df:s
full_name = full_name.drop(columns = 'alpha-3')
full_name = full_name.drop(columns = 'iso-3')
full_name['cell_per_capita'] = full_name['n_cellphones']/full_name['population']

reshape = full_name.pivot(index='year', columns = 'name', values = 'cell_per_capita')# Pivot and reshape the dataframe 
reshape = reshape.dropna(axis = 1, how='all')
reshape = reshape.dropna(how='all')

max_2019 = reshape.sort_values(by='2019', axis=1, ascending = False)
max_2019.iloc[-5:, :5]

name,Macao,Hong Kong,United Arab Emirates,Antigua and Barbuda,Seychelles
year,,,,,
2015,3.088231,2.290401,2.007424,1.956838,1.584260
2016,3.143510,2.398931,2.212521,1.987545,1.605459
2017,3.210102,2.488773,2.183431,2.019337,1.742433
2018,3.348741,2.670209,2.199084,2.008164,1.849900
2019,3.284849,2.863650,2.127739,1.997460,1.987196

We read a dataset to find a map from the iso-3 to the full name of the country, combine with the previous dataset, find phones per capita and pivot from long format to wide format. Then we sort by the rows to find the highes phones per capita in 2019. 

Now, let us find which country has highes growth rate by visualizing the data.